<div class="tab">
  <button
    *ngFor="let language of languages"
    [class.active]="language === selectedLanguage"
    (click)="selectedLanguage = language"
  >
    {{ language }}
  </button>
</div>
<div class="card">
  <div class="card-content">
<div class="tab-content"style="width: 1000px; height: 500px; overflow: scroll;">
  <ng-container *ngIf="selectedLanguage">
    <ul>
      <li *ngFor="let utterance of utterancesByLanguage[selectedLanguage]">
        <span>{{ utterance }}</span>

        <button class="play-button"(click)="playAudio(utterance)">play</button>

      </li>
    </ul>
  </ng-container>
</div>
</div>
</div>
