.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}


.center-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #00B4BE;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);


  left: 10%;

}

.center-box h1 {
  margin-bottom: 20px;
}

.center-box input[type="text"] {
  width: 1125px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
}

.center-box .language-select {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.center-box select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #000000;
  color: #ffffff;
}

.center-box button {
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.center-box button:hover {
  background-color: #0056b3;
}

.tab-content {
  margin-top: 10px;
  position: absolute;
  top: 50%; /* Adjust the positioning to center the tab content */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; /* Set the width to 90% of the parent container */
  max-width: 1000px; /* Set a maximum width to limit the container size */
  height: 500px;
  overflow: auto;
}
